In [2]:
import os
import argparse
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('output/throughput/all_starlink_iperf3_bytes_2022-09-18.csv')
df

,Timestamp,bandwidth,bytes,jitter_ms,lost_packets,packets,lost_percent,snd_cwnd,rtt,rttvar,retransmits,parallel ID,Regions,Protocol,Transfer Direction,Type,Protocol and Type
0,2022-02-13 14:34:14.000531968-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sao Paulo,TCP,Download,Starlink,TCP Starlink
1,2022-01-31 14:20:40.000308992-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,TCP,Download,Starlink,TCP Starlink
2,2022-01-22 22:24:11.000762112-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,TCP,Download,Starlink,TCP Starlink
3,2022-01-28 14:21:25.000107008-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,TCP,Download,Starlink,TCP Starlink
4,2022-01-28 14:21:26.000468992-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Singapore,TCP,Download,Starlink,TCP Starlink
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247187,2022-07-05 16:06:53.000022784-07:00,3.574829e+08,44685280.0,0.105952,0.0,30860.0,0.000000,NaN,NaN,NaN,NaN,NaN,Mumbai,UDP,Download,Starlink,UDP Starlink
247188,2022-07-04 20:13:15.000026112-07:00,3.586995e+08,44838768.0,0.115691,183.0,31149.0,0.587499,NaN,NaN,NaN,NaN,NaN,N. California,UDP,Download,Starlink,UDP Starlink
247189,2022-07-07 16:02:06.000098816-07:00,3.608434e+08,45106648.0,0.143232,280.0,31431.0,0.890840,NaN,NaN,NaN,NaN,NaN,Singapore,UDP,Download,Starlink,UDP Starlink
247190,2022-07-05 16:06:45.000023808-07:00,3.613860e+08,45176152.0,0.120978,0.0,31199.0,0.000000,NaN,NaN,NaN,NaN,NaN,Mumbai,UDP,Download,Starlink,UDP Starlink
247191,2022-07-04 20:13:13.000041984-07:00,3.626197e+08,45329640.0,0.212038,0.0,31305.0,0.000000,NaN,NaN,NaN,NaN,NaN,N. California,UDP,Download,Starlink,UDP Starlink

In [7]:
df_send = pd.read_csv('output/throughput/all_starlink_iperf3_bytes_send_2022-09-18.csv')
df_send

,Timestamp,bandwidth,bytes,jitter_ms,lost_packets,packets,lost_percent,snd_cwnd,rtt,rttvar,retransmits,parallel ID,Regions,Protocol,Transfer Direction,Type,Protocol and Type
0,2022-02-01 14:20:19.000120064-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,47784.0,270190.0,40870.0,1.0,1.0,Singapore,TCP,Upload,Starlink,TCP Starlink
1,2022-01-22 22:02:14.000113920-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,46336.0,329147.0,32219.0,1.0,1.0,Singapore,TCP,Upload,Starlink,TCP Starlink
2,2022-01-22 22:02:13.000302848-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,43440.0,311414.0,29083.0,0.0,0.0,Singapore,TCP,Upload,Starlink,TCP Starlink
3,2022-02-27 14:03:59.000188160-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,53576.0,257122.0,6228.0,0.0,2.0,Sydney,TCP,Upload,Starlink,TCP Starlink
4,2022-01-22 22:02:11.000111872-08:00,0.000000e+00,0.0,NaN,NaN,NaN,NaN,41992.0,299833.0,37581.0,0.0,0.0,Singapore,TCP,Upload,Starlink,TCP Starlink
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704361,2022-07-07 08:09:42.000109824-07:00,1.946529e+08,1310720.0,NaN,NaN,NaN,NaN,467704.0,76553.0,2120.0,0.0,1.0,N. California,TCP,Download,Starlink,TCP Starlink
704362,2022-06-03 20:13:50.000219904-07:00,1.965432e+08,1310720.0,NaN,NaN,NaN,NaN,298288.0,69042.0,4168.0,0.0,3.0,N. California,TCP,Download,Starlink,TCP Starlink
704363,2022-03-15 20:18:17.000083968-07:00,1.997142e+08,1310720.0,NaN,NaN,NaN,NaN,644360.0,60124.0,67.0,0.0,3.0,N. California,TCP,Download,Starlink,TCP Starlink
704364,2022-06-04 03:11:21.000162816-07:00,2.044804e+08,1310720.0,NaN,NaN,NaN,NaN,589336.0,97518.0,4483.0,0.0,0.0,N. California,TCP,Download,Starlink,TCP Starlink
704365,2022-03-10 06:13:22.000088832-08:00,2.626829e+08,2621440.0,NaN,NaN,NaN,NaN,1064280.0,83227.0,1681.0,0.0,0.0,N. California,TCP,Download,Starlink,TCP Starlink

In [6]:
df['Regions'].unique()

array(['Sao Paulo', 'Singapore', 'Tokyo', 'London', 'Sydney',
       'N. California', 'Bahrain', 'Mumbai', 'Cape Town'], dtype=object)

In [25]:
# Requirements:
# Three files: delay.csv, bandwidth-tcp.csv, and bandwidth-udp.csv
LOC_SAMI_BURNABY = 0
LOC_AWS_N_CALIFORNIA = 'N. California'
LOC_AWS_TOKYO = 'Tokyo'
LOC_AWS_LONDON = 'London'
LOC_AWS_SYDNEY = 'Sydney'
LOC_AWS_SINGAPORE = 'Singapore'
LOC_AWS_SAO_PAULO = 'Sao Paulo'
LOC_AWS_BAHRAIN = 'Bahrain'
LOC_AWS_MUMBAI = 'Mumbai'
LOC_AWS_CAPE_TOWN = 'Cape Town'
region_id_mapping = {LOC_AWS_N_CALIFORNIA: 100, LOC_AWS_TOKYO: 101, LOC_AWS_LONDON: 102, LOC_AWS_SYDNEY: 103, LOC_AWS_SINGAPORE: 104, LOC_AWS_SAO_PAULO: 105, 
                     LOC_AWS_BAHRAIN: 106, LOC_AWS_MUMBAI: 107, LOC_AWS_CAPE_TOWN: 108}

In [34]:
def format_bandwidth_df(df):
    df_bandwidth = df.copy()[['Timestamp', 'bandwidth', 'bytes', 'Regions']]
    df_bandwidth = df_bandwidth.rename(columns={'bandwidth': 'avg. bandwidth', 'bytes': 'avg. transfer bytes', 'Regions': 'destination'})
    df_bandwidth['source'] = LOC_SAMI_BURNABY
    df_bandwidth['destination'] = df_bandwidth['destination'].map(lambda x: region_id_mapping[x])
    return df_bandwidth

In [35]:
df_bandwidth_tcp = format_bandwidth_df(df[df['Protocol'] == 'TCP'])
df_bandwidth_udp = format_bandwidth_df(df[df['Protocol'] == 'UDP'])

In [36]:
df_bandwidth_tcp

,Timestamp,avg. bandwidth,avg. transfer bytes,destination,source
0,2022-02-13 14:34:14.000531968-08:00,0.000000e+00,0.0,105,0
1,2022-01-31 14:20:40.000308992-08:00,0.000000e+00,0.0,104,0
2,2022-01-22 22:24:11.000762112-08:00,0.000000e+00,0.0,101,0
3,2022-01-28 14:21:25.000107008-08:00,0.000000e+00,0.0,104,0
4,2022-01-28 14:21:26.000468992-08:00,0.000000e+00,0.0,104,0
...,...,...,...,...,...
247142,2022-02-13 14:38:37.000131072-08:00,3.406068e+08,42597264.0,100,0
247145,2022-02-10 15:52:10.000141056-08:00,3.413091e+08,42679800.0,100,0
247158,2022-02-13 14:38:35.000111104-08:00,3.449296e+08,43112752.0,100,0
247160,2022-02-13 14:38:36.000030976-08:00,3.460953e+08,43266240.0,100,0
247178,2022-03-06 06:16:06.000051968-08:00,3.528233e+08,44104632.0,100,0

In [37]:
df_bandwidth_udp

,Timestamp,avg. bandwidth,avg. transfer bytes,destination,source
225,2022-03-25 14:11:40.000108032-07:00,0.000000e+00,0.0,105,0
226,2022-03-25 20:05:40.000391936-07:00,0.000000e+00,0.0,101,0
227,2022-03-29 20:08:31.000222976-07:00,0.000000e+00,0.0,106,0
228,2022-03-31 06:05:26.000374016-07:00,0.000000e+00,0.0,101,0
231,2022-03-30 14:08:27.000321024-07:00,0.000000e+00,0.0,102,0
...,...,...,...,...,...
247187,2022-07-05 16:06:53.000022784-07:00,3.574829e+08,44685280.0,107,0
247188,2022-07-04 20:13:15.000026112-07:00,3.586995e+08,44838768.0,100,0
247189,2022-07-07 16:02:06.000098816-07:00,3.608434e+08,45106648.0,104,0
247190,2022-07-05 16:06:45.000023808-07:00,3.613860e+08,45176152.0,107,0
247191,2022-07-04 20:13:13.000041984-07:00,3.626197e+08,45329640.0,100,0

In [55]:
df_delay = df_send.groupby(['Regions', 'Timestamp'])['rtt'].agg(['mean', 'max', 'min']).reset_index()
df_delay = df_delay.rename(columns={'mean': 'avg. rtt', 'max': 'max. rtt', 'min': 'min. rtt', 'Regions': 'destination'})
df_delay['source'] = LOC_SAMI_BURNABY
df_delay['destination'] = df_delay['destination'].map(lambda x: region_id_mapping[x])
df_delay

,destination,Timestamp,avg. rtt,max. rtt,min. rtt,source
0,106,2022-01-23 00:19:43.000123136-08:00,298305.25,304094.0,292733.0,0
1,106,2022-01-23 00:19:44.000254976-08:00,330675.00,337332.0,321449.0,0
2,106,2022-01-23 00:19:45.000095744-08:00,331440.75,336852.0,326429.0,0
3,106,2022-01-23 00:19:46.000388864-08:00,376478.25,391014.0,358330.0,0
4,106,2022-01-23 00:19:47.000175104-08:00,356673.75,377681.0,324860.0,0
...,...,...,...,...,...,...
176005,101,2022-07-07 20:04:35.000666880-07:00,268796.75,287589.0,249356.0,0
176006,101,2022-07-07 20:04:36.000692992-07:00,224678.50,252794.0,207124.0,0
176007,101,2022-07-07 20:04:36.000759808-07:00,228610.00,237937.0,219419.0,0
176008,101,2022-07-07 20:04:37.000348160-07:00,225777.25,240528.0,214709.0,0
176009,101,2022-07-07 20:04:38.000084992-07:00,239771.00,258658.0,224290.0,0

In [67]:
df_delay.dtypes

destination      int64
Timestamp       object
avg. rtt       float64
max. rtt       float64
min. rtt       float64
source           int64
dtype: object

In [74]:
#pd.to_datetime(df_delay.loc[1:5, 'Timestamp']).astype(int) / 1e6
df_delay['Timestamp'] = pd.to_datetime(df_delay.loc[:, 'Timestamp']).astype(int) / 1e6
df_bandwidth_tcp['Timestamp'] = pd.to_datetime(df_bandwidth_tcp['Timestamp']).astype(int) / 1e6
df_bandwidth_udp['Timestamp'] = pd.to_datetime(df_bandwidth_udp['Timestamp']).astype(int) / 1e6
print(df_delay)
print(df_bandwidth_tcp)
print(df_bandwidth_udp)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'datetime.datetime'

In [75]:
df_delay[['source', 'destination', 'min. rtt', 'max. rtt', 'avg. rtt']].to_csv('output/GNN/delay.csv', index=False)
df_bandwidth_tcp[['source', 'destination', 'avg. bandwidth', 'avg. transfer bytes']].to_csv('output/GNN/bandwidth_tcp.csv', index=False)
df_bandwidth_udp[['source', 'destination', 'avg. bandwidth', 'avg. transfer bytes']].to_csv('output/GNN/bandwidth_udp.csv', index=False)

In [ ]:
df_delay[['source', 'destination', 'min. rtt', 'max. rtt', 'avg. rtt', 'Timestamp']].to_csv('output/GNN/dt_delay.csv', index=False)
df_bandwidth_tcp[['source', 'destination', 'avg. bandwidth', 'avg. transfer bytes', 'Timestamp']].to_csv('output/GNN/dt_bandwidth_tcp.csv', index=False)
df_bandwidth_udp[['source', 'destination', 'avg. bandwidth', 'avg. transfer bytes', 'Timestamp']].to_csv('output/GNN/dt_bandwidth_udp.csv', index=False)